/node_modules/
/public/**/index.js
/public/**/index.css
/public/**/index.js.map
/public/user/index.js
/public/user/index.js.map
/public/bundle.css
./frontend/public/user/index.js
./frontend/public/user/index.js.map
.vscode
.DS_Store
