@import url('./assets/connect.svg');

.browserViewer-connectionUserItem {
    box-sizing: border-box;

    width: 357px;

    margin-bottom: 9px;
    padding: 0 16px;

    border-radius: 8px;
}

.browserViewer-connectionUserItem-wrapper {
    display: flex;
    justify-content: space-between;

    padding: 12px 0 11px;
}

.browserViewer-connectionUserItem-info {
    width: 289px;

    color: var(--browserViewer-main-text-color);
    font-size: var(--browserViewer-title-size);
    line-height: 24px;

    overflow: hidden;
    text-overflow: ellipsis;

    user-select: none;
    white-space: nowrap;
   
    cursor: default;
}

.browserViewer-connectionUserItem-connectButton {
    height: 32px;
    width: 32px;

    border-radius: 16px;

    background-color: var(--browserViewer-main-green);
    background-image: url('./assets/connect.svg');
    background-size: cover;

    cursor: pointer;

}

.browserViewer-connectionUserItem:hover {
    background-color: var(--browserViewer-hover-white);
}