.browserViewer-input {
    margin-bottom: 20px;

    padding: 14px 0;

    width: 100%;

    border: 1px solid var(--browserViewer-border-white);
    border-radius: 32px;

    background: var(--browserViewer-main-white);
    outline: none;

    text-align: center;
    color: var(--browserViewer-main-text-color);
    font-size: var(--browserViewer-title-size);
    transition: all .25s;
}

.browserViewer-input:focus {
    border: 1px solid var(--browserViewer-main-blue);
    background: var(--browserViewer-main-white);
}

.browserViewer-inputValid {
    border: 1px solid var(--browserViewer-main-green);
}

