input {
    margin-bottom: 20px;

    padding: 14px 0;

    width: 100%;

    border: 1px solid var(--border-white);
    border-radius: 32px;

    background: var(--main-white);
    outline: none;

    text-align: center;
    color: var(--main-text-color);
    font-size: var(--title-size);
    transition: all .25s;
}

input:focus {
    border: 1px solid var(--main-blue);
    background: var(--main-white);
}

.input-valid {
    border: 1px solid var(--main-green);
}

