.browserViewer-button,
.browserViewer-buttonGreen {
  border-radius: 32px;

  outline: none !important;
  padding: 0 20px;

  font-weight: 600;
  font-size: var(--browserViewer-title-size);
  line-height: 20px;
  color: var(--browserViewer-main-white);

  cursor: pointer;
  border-style: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.browserViewer-button:disabled,
.browserViewer-buttonGreen:disabled {
  background-color: var(--browserViewer-disabled-white);

  pointer-events: none;
}

.browserViewer-buttonGreen {
  background: var(--browserViewer-main-green);

  transition: color 0.25s;
}

.browserViewer-buttonGreen:active {
  background: var(--browserViewer-click-green);

  transition: color 0.25s;
}

.browserViewer-buttonGreen:hover {
  background: var(--browserViewer-hover-green);

  transition: color 0.25s;
}
